.App-header {
    background-color: #222;
    height: 80px;
    width: 100%;
    padding: 1% 2% 2% 2%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    top: 0;
    left: 0;
  }

  .App-title span {
    color: aqua;
  }