
.center {
  text-align: center;
}

.left {
  text-align: center;
}

.font {
  font-family: 'Pacifico', cursive;
}

.fontScore h3 {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}

.container-fluid {
  margin: 0%;
  width: 100%;
}

.row {
  /* margin: 0 auto; */
}
